body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    color: #333;
}

input[type="password"] {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image-container img {
    width: 100%;
    border-radius: 10px;
}

#error-message {
    color: red;
    font-weight: bold;
}
